/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*,
::after,
::before {
  box-sizing: border-box;
}

html {
	font-size: 100%;
  }

  :root {
	/* colors */
	--primary-100: #B9FFFC;
	--primary-200: #A3D8F4;
	--primary-300: #9AB3F5;
	--primary-400: #7579E7;
	--primary-500: #645cff;
	--primary-600: #504acc;
	--primary-700: #3c3799;
	--primary-800: #282566;
	--primary-900: #141233;
  }  
/* Additional Styling */

nav{
    margin: 0 0 1em 0;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    border: 1px solid hotpink;
    /* align-items: center; */
    margin: 0 0 0 2em;
	text-align: center;
    
}
h2{
    font-size: 2em;
    margin: 2em 0 2em 0;
}

h3{
    flex-grow: 1;
    /* margin: 15em 0 0 0; */
}

.timePeriod{
	border: solid 1px #5800FF;
	justify-content: space-evenly;
	--bs-gutter-y: 1em;
	padding: 0 0 2em 0;
}
.time{
	border: solid 1px #5800FF;
	background: var(--primary-400);
	color: white;
	text-align: center;
	padding: 1em 1em 1em 1em; 
	/* TODO add some box shadow effects to the buttons */
	
}

.convert{
	background: var(--primary-200);
	border: none;
	padding: .5em .5em .5em .5em;
}